<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
    <div class="flex align-middle items-center px-10 mx-auto gap-6">
        <a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact: true}" class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <h3 class="text-2xl font-semibold uppercase">Cue Market</h3>
        </a>
        <nav class="flex gap-3 my-2 uppercase text-lg text-white">
            @if (accountService.currentUser()) {
                <a routerLink="/cues" routerLinkActive="text-accent">Market</a>
                <!-- <a routerLink="/lists" routerLinkActive="text-accent">Build</a> -->
                <a routerLink="/about-us" routerLinkActive="text-accent">About Us</a>
                <a routerLink="/contact" routerLinkActive="text-accent">Contact</a>
                <a routerLink="/messages" routerLinkActive="text-accent">Messages</a>
            }
            <!-- <a routerLink="/errors" routerLinkActive="text-accent">Errors</a> -->
        </nav>
        <div class="flex align-middle ml-auto gap-3">
            <div class="dropdown mr-5 dropdown-end">
                <button tabindex="1" class="flex flex-col justify-center align-middle text-white cursor-pointer uppercase text-xs">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 flex self-center">
                        @if (selectedTheme() === 'light') {
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                        } @else {
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                        }
                    </svg>
                    <span>Theme</span>
                </button>
                <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    @for (theme of themes; track $index) {
                        <li (click)="handleSelectTheme(theme)">
                            <a>{{theme.toUpperCase()}}</a>
                        </li>
                    }
                </ul>
            </div>

            @if(accountService.currentUser(); as user) {
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="flex items-center text-white text-xl gap-3 cursor-pointer">
                    <img src="/user.png" alt="user avatar" class="w-8 h-8 rounded-full"/>
                    <span>{{user.userName}}</span>
                </div>
                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                        <li><a>Edit profile</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
            </div>
            } @else {
            <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
                <input type="text" name="email" class="input" placeholder="Email" [(ngModel)]="creds.email">
                <input type="password" name="password" class="input" placeholder="Password" [(ngModel)]="creds.password">
                <button type="submit" class="btn">Login</button>
            </form>
            } 
        </div>      
    </div>
</header>